<h1>{{title}}</h1>
<form method="POST">
  <fieldset>
    <label for="budget" class="col-2">Budget:</label>
    <input name="budget" id="budget" required type="number" min="0" value="{{travelPlan.budget}}" />
  </fieldset>
  <fieldset>
    <label for="date" class="col-2">Travel Date:</label>
    <input name="date" id="date" required type="date" value="{{toShortDate travelPlan.date}}" />
  </fieldset>
  <fieldset>
    <label for="country" class="col-2">Country:</label>
    <select name="country" id="country">
      {{#each countries}}
        {{{createOptionElement this._id ../travelPlan.country._id}}}
      {{/each}}
    </select>
  </fieldset>
  <fieldset>
    <label for="status" class="col-2">Status:</label>
    <select name="status" id="status">
      {{{createOptionElement "haven't been there" travelPlan.status}}}>Haven't been there</option>
      {{{createOptionElement "completed" travelPlan.status}}}>Completed</option>
      {{{createOptionElement "canceled" travelPlan.status}}}>Canceled</option>
    </select>
  </fieldset>
  <button class="btn btn-primary">Save</button>
</form>

